#Common
/build
/.idea
/.dart_tool
/.vscode

#Flutter
.packages
.project
.flutter-plugins
.flutter-plugins-dependencies

#Android
/android/local.properties
/android/.gradle
/android/.idea
/android/.settings
/android/android.iml
/android/illinois-client-android.iml
/android/app/app.iml
/android/app/android-app.iml
/android/app/.externalNativeBuild
/android/app/bin
/android/app/.idea
/android/app/.classpath
/android/app/.settings
/android/app/gradlew
/android/app/gradlew.bat
/android/app/local.properties
/android/app/gradle

#iOS
DerivedData
xcuserdata
/ios/.symlinks
/ios/Pods
/ios/Podfile.lock
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/.last_build_id
/ios/Flutter/flutter_assets/*
/ios/Flutter/flutter_export_environment.sh

#Secret/Private files
/.travis.yml
/secrets.tar.enc

/assets/configs.json.enc

/ios/Runner/GoogleService-Info-Dev.plist
/ios/Runner/GoogleService-Info-Prod.plist

/android/keys.properties
/android/app/src/debug/google-services.json
/android/app/src/release/google-services.json
/android/app/src/profile/google-services.json

