<!--
  ~ Copyright 2020 Board of Trustees of the University of Illinois.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="edu.illinois.covid">

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Android 10 (API level 29) or higher -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <!-- Android 9 (API level 28) or higher -->
    <!-- Foreground service used for Exposure BLE scan -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- For using location derived from bluetooth beacons -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- Use zxing 3.3.0 because we have minSdk < 24 -->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <!-- save_in_gallery flutter plugin -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- BlinkID -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" android:required="false" />

    <!-- Exposure BLE -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:name="edu.illinois.covid.App"
        android:allowBackup="true"
        android:backupAgent="edu.illinois.covid.AppBackupAgent"
        android:restoreAnyVersion="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}"/>
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="${backupApiKey}" />
        <activity
            android:name="edu.illinois.covid.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="edu.illinois.rokwire" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="osf.rokwire.illinois.edu"
                    android:pathPrefix="/oauth" />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>
        <activity
            android:name="edu.illinois.covid.maps.MapPickLocationActivity"
            android:theme="@style/DefaultTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"

        />
        <activity
            android:name="edu.illinois.covid.maps.MapDirectionsActivity"
            android:theme="@style/DefaultTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>

        <activity
            android:name="edu.illinois.covid.maps.MapActivity"
            android:theme="@style/DefaultTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>

        <service android:name="edu.illinois.covid.exposure.ble.ExposureServer"/>
        <service android:name="edu.illinois.covid.exposure.ble.ExposureClient"/>

        <receiver android:name="edu.illinois.covid.exposure.ble.scan.ExposureBleReceiver">
            <intent-filter>
                <action android:name="edu.illinois.rokwire.exposure.ble.scan.ACTION_FOUND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
