<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>zh</string>
	</array>
	<key>CFBundleName</key>
	<string>Safer Illinois</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>edu.illinois.covid.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edu.illinois.covid</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow access to Media Library.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth will be used to enable the  COVID-19 exposure notification system.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth will be used to enable the  COVID-19 exposure notification system.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Your calendar will be used to let you set reminders for important events.</string>
	<key>NSCameraUsageDescription</key>
	<string>Permission to access the camera is needed for QR Code scanning.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow access to Contacts.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>No location data will be sent or received by this app. The location services are on so that Bluetooth can run in background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>No location data will be sent or received by this app. The location services are on so that Bluetooth can run in background.</string>
	<key>NSLocationUsageDescription</key>
	<string>No location data will be sent or received by this app. The location services are on so that Bluetooth can run in background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>No location data will be sent or received by this app. The location services are on so that Bluetooth can run in background.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow access to Microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow access to Accelerometer.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permission to access the Photo Library is needed for storing QR Codes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permission to access the Photo Library is needed for retrieving QR Codes.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Your calendar will be used to let you set reminders for important events.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow sending data to Apple’s speech recognition servers.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresFullScreen~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
